main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    padding: 5px;
    border: #333;
    box-shadow: #333 2px 2px 5px;
    background: linear-gradient(45deg, steelblue, turquoise);
}
h1{
  color: darkgray;
}
nav {
  background-color: steelblue;
  padding: 10px;
}
nav a {
  color: white;
  padding: 5px;
  display: block;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/ .2); /* light gray border */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
p{ padding: 0;
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}